{% load offlinecdn %}

<html>
  <head>

    {% offlinecdn css %}
    {% block cdn_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- THIS FILE IS AUTOMATICALLY DOWNLOADED AND SAVED IN THE RIGHT
         LOCATION. THE DOM IS CONVERTED TO:

	 <link href="/static/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">

         -->
    {% endblock cdn_css %}
    {% endofflinecdn %}

  </head>

  <body>
    <p> There is no JQuery...yet. </p>

    {% offlinecdn js %}
    {% block cdn_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- THIS FILE IS AUTOMATICALLY DOWNLOADED AND SAVED IN THE RIGHT
         LOCATION. THE DOM IS CONVERTED TO:

         <script src="/static/cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	 <script src="/static/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
         -->
    {% endblock cdn_js %}
    {% endofflinecdn %}

    <script>$("p").html("There is JQuery!") </script>
  </body>
</html>
